.heading-1 {
  color: white;
  padding-bottom: 2rem;
  font-family: 'Raleway', sans-serif;
}

@media only screen and (max-width: 37.5em) {
  .heading-1 {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
  }
}

.heading-1--one {
  display: block;
}

.paragraph {
  color: white;
  padding-bottom: 1.5rem;
}

@media only screen and (max-width: 37.5em) {
  .paragraph {
    padding: 0 3rem 1.5rem 3rem;
  }
}

.paragraph-1 {
  display: block;
}

@media only screen and (max-width: 37.5em) {
  .paragraph-1 {
    display: inline;
  }
}

.paragraph-2 {
  display: block;
}

@media only screen and (max-width: 37.5em) {
  .paragraph-2 {
    display: inline;
  }
}

.button {
  text-decoration: none;
  background-image: linear-gradient(115deg, #65e2d9, #339ecc);
  border-radius: 50px;
  color: white;
  padding: 0.5rem 3.5rem;
  font-family: 'Raleway', sans-serif;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover, .button:active {
  background-image: linear-gradient(115deg, #339ecc, #65e2d9);
}

.main {
  background: #181f2a;
  padding: 3rem 0;
  position: relative;
}

@media only screen and (max-width: 37.5em) {
  .main {
    padding-top: 5rem;
  }
}

.main__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media only screen and (max-width: 37.5em) {
  .main__features {
    display: block;
  }
}

.main__feature {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  color: white;
  text-align: center;
  margin: 0 0 3rem 0;
}

@media only screen and (max-width: 53.13em) {
  .main__feature {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
}

@media only screen and (max-width: 37.5em) {
  .main__feature {
    margin-bottom: 4.5rem;
    padding: 0 2.5rem;
  }
}

.main__feature img {
  margin-bottom: 1rem;
}

.main__feature h3 {
  margin-bottom: 0.5rem;
}

.main__feature p {
  width: 62%;
  text-align: center;
  margin: 0 auto;
}

@media only screen and (max-width: 37.5em) {
  .main__feature p {
    width: 100%;
  }
}

.productive {
  padding: 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media only screen and (max-width: 65.63em) {
  .productive {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 53.13em) {
  .productive {
    display: block;
    padding: 3.5rem 2rem 0 2rem;
    margin-top: 3.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .productive {
    padding: 6rem 1.5rem 0 1.5rem;
    display: block;
    width: 100%;
  }
}

.productive__image {
  margin-right: 1rem;
}

@media only screen and (max-width: 53.13em) {
  .productive__image {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
}

@media only screen and (max-width: 37.5em) {
  .productive__image {
    width: 100%;
    margin-right: 0;
  }
}

@media only screen and (max-width: 65.63em) {
  .productive__image img {
    width: 80%;
  }
}

@media only screen and (max-width: 53.13em) {
  .productive__image img {
    width: 90%;
  }
}

@media only screen and (max-width: 37.5em) {
  .productive__image img {
    width: 100%;
  }
}

.productive__description {
  margin-left: 2rem;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  height: 100%;
  color: white;
}

@media only screen and (max-width: 65.63em) {
  .productive__description {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media only screen and (max-width: 53.13em) {
  .productive__description {
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .productive__description {
    margin-left: 0;
  }
}

.productive__heading {
  font-size: 2rem;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 37.5em) {
  .productive__heading {
    font-size: 1.2rem;
    padding-top: 2.5rem;
  }
}

.productive__heading-1 {
  display: block;
}

@media only screen and (max-width: 53.13em) {
  .productive__heading-1 {
    display: inline-block;
  }
}

@media only screen and (max-width: 37.5em) {
  .productive__heading-1 {
    display: inline-block;
  }
}

.productive__text-1 {
  display: block;
  margin-bottom: 1rem;
}

.productive__text--2 {
  display: block;
  padding-bottom: 3rem;
}

.fylo {
  padding-top: 1.5rem;
}

.fylo__link {
  text-decoration: none;
  color: #65e2d9;
  border-bottom: 1px solid #65e2d9;
  padding: 0.2rem 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.fylo__link:hover .fylo__link--image {
  -webkit-transform: translateX(0.2rem);
          transform: translateX(0.2rem);
}

.fylo__link--text {
  display: inline-block;
  vertical-align: top;
}

.fylo__link--image {
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: ease-in .3s;
  transition: ease-in .3s;
}

.testimonials {
  padding: 6rem 4rem;
  margin-top: 2rem;
  margin-bottom: 8rem;
}

@media only screen and (max-width: 65.63em) {
  .testimonials {
    padding: 6rem 2rem;
  }
}

@media only screen and (max-width: 53.13em) {
  .testimonials {
    padding: 6rem 1.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .testimonials {
    padding: 6rem 2.5rem;
  }
}

.testimonials__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media only screen and (max-width: 37.5em) {
  .testimonials__container {
    display: block;
    width: 100%;
  }
}

.testimonials__container--image {
  position: absolute;
  bottom: 95%;
  left: 7%;
}

@media only screen and (max-width: 90em) {
  .testimonials__container--image {
    left: 8.5%;
  }
}

@media only screen and (max-width: 65.63em) {
  .testimonials__container--image {
    left: 4%;
  }
}

@media only screen and (max-width: 53.13em) {
  .testimonials__container--image {
    left: 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .testimonials__container--image {
    bottom: 100%;
    left: 0;
  }
}

.testimonials__content {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background: #202a3c;
  color: white;
  padding: 2rem 1rem 1.1rem 1.5rem;
  z-index: 1;
}

@media only screen and (max-width: 65.63em) {
  .testimonials__content {
    -ms-flex-preferred-size: 28%;
        flex-basis: 28%;
  }
}

@media only screen and (max-width: 53.13em) {
  .testimonials__content {
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
    padding: 1.5rem 0.8rem 1rem 1rem;
  }
}

.testimonials__content:not(:last-child) {
  margin-right: 2.5rem;
}

@media only screen and (max-width: 37.5em) {
  .testimonials__content:not(:last-child) {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

.testimonials__text {
  line-height: 1.3rem;
}

.testimonials__profile--image {
  width: 15%;
  border-radius: 50%;
  margin-top: 0.6rem;
  margin-right: 0.5rem;
  display: inline-block;
  vertical-align: middle;
}

.testimonials__profile--image img {
  width: 100%;
}

.testimonials__profile--details {
  display: inline-block;
  vertical-align: bottom;
}

.testimonials__profile--details h3 {
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
}

.testimonials__profile--details p {
  font-size: 0.7rem;
}

.testimonials__quote {
  display: absolute;
}

#last {
  margin-right: 0;
}

.input {
  position: relative;
}

.input__content {
  width: 50%;
  text-align: center;
  padding: 3rem 0 2rem 0;
  margin: 0 auto;
  color: white;
  background: #1c2431;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 62%);
          transform: translate(-50%, 62%);
  -webkit-box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  z-index: 1;
}

@media only screen and (max-width: 65.63em) {
  .input__content {
    width: 60%;
  }
}

@media only screen and (max-width: 53.13em) {
  .input__content {
    width: 70%;
  }
}

@media only screen and (max-width: 37.5em) {
  .input__content {
    width: 90%;
  }
}

.input__header {
  margin-bottom: 1rem;
}

.input__text {
  padding: 0 4rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .input__text {
    padding: 0 2.5rem;
  }
}

.input__field {
  padding: 0 1rem;
}

@media only screen and (max-width: 37.5em) {
  .input__field {
    padding: 0 2.5rem;
  }
}

.input__field input {
  padding: 0.8rem 1.5rem;
  width: 60%;
  border-radius: 50px;
  border: none;
  outline: none;
  margin-right: 0.8rem;
  display: inline-block;
}

@media only screen and (max-width: 65.63em) {
  .input__field input {
    width: 100%;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 53.13em) {
  .input__field input {
    width: 100%;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .input__field input {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.input__field--button {
  text-decoration: none;
  display: inline-block;
  background-image: linear-gradient(115deg, #65e2d9, #339ecc);
  border-radius: 50px;
  color: white;
  padding: 0.8rem 2rem;
  font-family: 'Raleway', sans-serif;
}

.input__field--button:hover, .input__field--button:active {
  background-image: linear-gradient(115deg, #339ecc, #65e2d9);
}

@media only screen and (max-width: 37.5em) {
  .input__field--button {
    width: 100%;
  }
}

.header {
  background: #1c2431;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 3rem 1.5rem 0 1.5rem;
}

@media only screen and (max-width: 65.63em) {
  .header__navigation {
    padding: 2rem 1.5rem 3.5rem 1.5rem;
  }
}

@media only screen and (max-width: 53.13em) {
  .header__navigation {
    padding: 2rem 1.5rem 3.5rem 1.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .header__navigation {
    padding: 2rem 1.5rem 2.5rem 1.5rem;
  }
}

.header__brand {
  width: 10%;
  margin-right: auto;
}

@media only screen and (max-width: 53.13em) {
  .header__brand {
    width: 20%;
  }
}

@media only screen and (max-width: 37.5em) {
  .header__brand {
    width: 25%;
  }
}

.header__brand a img {
  width: 100%;
}

.header__items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1.5rem;
}

@media only screen and (max-width: 37.5em) {
  .header__item {
    margin: 0 0.5rem;
  }
}

.header__item a {
  text-decoration: none;
  color: #eee;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__item a:hover,
.header__item a:active {
  color: #65e2d9;
}

.header__image {
  width: 45%;
  margin: 0 auto;
}

@media only screen and (max-width: 65.63em) {
  .header__image {
    width: 55%;
  }
}

@media only screen and (max-width: 53.13em) {
  .header__image {
    width: 80%;
  }
}

@media only screen and (max-width: 37.5em) {
  .header__image {
    width: 85%;
  }
}

.header__image img {
  width: 100%;
}

.header__intro {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.header__info {
  margin-top: 1.5rem;
  text-align: center;
  padding-bottom: 2rem;
}

.header__curve {
  position: absolute;
  top: 62%;
  left: 4px;
  z-index: -1;
  height: 40%;
  width: 100%;
}

.header__curve img {
  height: 100%;
  width: 100%;
}

.footer {
  background: #0b1523;
  padding: 10rem 2rem 4rem 4rem;
  position: relative;
  font-family: 'Raleway', sans-serif;
}

@media only screen and (max-width: 37.5em) {
  .footer {
    padding: 10rem 2rem 4rem 2rem;
  }
}

.footer__brand {
  padding-bottom: 1.5rem;
}

@media only screen and (max-width: 65.63em) {
  .footer__brand {
    padding-top: 3rem;
  }
}

@media only screen and (max-width: 53.13em) {
  .footer__brand {
    padding-top: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer__brand {
    padding-top: 3.5rem;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media only screen and (max-width: 53.13em) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer__container {
    display: block;
  }
}

.footer__content {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  margin-right: 3.5rem;
}

@media only screen and (max-width: 65.63em) {
  .footer__content {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

@media only screen and (max-width: 53.13em) {
  .footer__content {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
    margin-bottom: 3.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer__content {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
}

.footer__content--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__content--icon img {
  margin-right: 0.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: 20px;
}

@media only screen and (max-width: 37.5em) {
  .footer__content--icon img {
    margin-right: 0.7rem;
  }
}

.footer__content--icon p {
  color: white;
  text-align: left;
}

.footer__contacts {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

@media only screen and (max-width: 65.63em) {
  .footer__contacts {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    margin-right: auto;
  }
}

@media only screen and (max-width: 53.13em) {
  .footer__contacts {
    -ms-flex-preferred-size: 43%;
        flex-basis: 43%;
    margin-bottom: 3.5rem;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer__contacts {
    padding-bottom: 4.5rem;
  }
}

.footer__contact {
  color: white;
}

.footer__contact:not(:last-child) {
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 37.5em) {
  .footer__contact:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.footer__contact--icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}

.footer__contact--text {
  display: inline-block;
  vertical-align: middle;
}

.footer__links {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

@media only screen and (max-width: 53.13em) {
  .footer__links {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer__links--2 {
    padding-top: 2.5rem;
    padding-bottom: 4.5rem;
  }
}

.footer__item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__item--list {
  margin: 0 0 1rem 0;
}

.footer__item--list a {
  text-decoration: none;
  color: white;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer__item--list a:hover,
.footer__item--list a:active {
  color: #65e2d9;
}

@media only screen and (max-width: 37.5em) {
  .footer__social {
    text-align: center;
  }
}

.footer__social a {
  text-decoration: none;
}

.footer__social--icons {
  width: 30px;
  height: 30px;
  padding: 0.3rem;
  fill: white;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 0.8rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (max-width: 65.63em) {
  .footer__social--icons {
    margin: 0 0.5rem;
  }
}

.footer__social--icons:hover, .footer__social--icons:active {
  border: 1px solid #65e2d9;
}

.attribution {
  position: absolute;
  bottom: 2%;
  color: white;
}

@media only screen and (max-width: 37.5em) {
  .attribution {
    font-size: 0.8rem;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 87.5%;
  font-family: 'Open Sans', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */
